<div class="poster">
  <%= image_tag(movie.cover_image.thumb("300x225").url)  %>
</div>

<div class="movie-info">
  <div class="movie-info-inner">
    <div class="movie-meta">
      <div class="title">
        <h3><%= movie.name %></h3>
      </div>
      <div class="credits">
        <span class="label">Starring: </span>
        <span class="content"><%= movie.cast %></span>
      </div>
      <div class="credits">
        <span class="label">Directed: </span>
        <span class="content"><%= movie.director %></span>
      </div>
      <div class="credits">
        <span class="label">Produced: </span>
        <span class="content"><%= movie.producer %></span>
      </div>
      <div class="credits">
        <span class="label">Released: </span>
        <span class="content"><%= movie.released_on.strftime("%d %B, %Y.") %></span>
      </div>
    </div>
    <div class="movie-score">
      <div class="percentage">
        <%= image_tag movie.computed_score.to_i > 50 ? "hit.png" : "flop.png" %>
        <%= movie.formatted_score %>
      </div>
      <p>
        <%= link_to "#{movie.tweets.positive.count} positive", positive_movie_path(movie) %> |
        <%= link_to "#{movie.tweets.negative.count} negative", negative_movie_path(movie) %> |
        <%= link_to "#{movie.tweets.mixed.count} mixed", mixed_movie_path(movie) %>
      </p>
    </div>
  </div>
</div>
