<% content_for :title do %>
  <%= "Review Umpire" %> 
<% end %>

<% content_for :description do %>
  <%= "Aggregates reviews of telugu movies." %> 
<% end %>

<% content_for :keywords do %>
  <%= "telugu movie reviews, telugu movie tweets" %> 
<% end %>

<ul id="nav">
  <% Movie.all.limit(13).each do | movie | %>
    <li> <%= link_to image_tag(movie.cover_image.thumb("50x50").url, :width => 50, :height => 50), "#" %> </li>
  <% end %>
</ul>

<div id="carousel">				
  <% Movie.all.limit(13).each do | movie | %>
    <div>
      <%= render movie %>
      <%= render movie.tweets.spotlight.limit(8) %>
    </div>
  <% end %>
</div>
