<% content_for :title do %>
  <%= "#{@movie.name} Review" %> 
<% end %>

<% content_for :description do %>
  <%= "Aggregates reviews of #{@movie.name}." %> 
<% end %>

<% content_for :keywords do %>
  <%= "#{@movie.name} movie reviews, #{@movie.name} tweets, #{@movie.name} talk, #{@movie.name} positive talk, #{@movie.name} negative talk" %> 
<% end %>
<%= render @movie %>
<div class="inner pager">
  <%= render :partial => "tweets/tweets", :locals => { :tweets => @tweets, :movie => @movie } %>
</div>
