<% content_for :title do %>
  <%= @movie.name %>
<% end %>

<div data-role="navbar" data-theme="e" data-inset="true"> 
	<ul> 
  <li>
    <%=  link_to "Positive", positive_movie_path(@movie), 
    "data-icon"=>"gear","data-iconpos"=>"top","data-theme"=>"b" %>
  </li>
  <li>
    <%=  link_to "Mixed", mixed_movie_path(@movie), 
    "data-icon"=>"gear","data-iconpos"=>"top","data-theme"=>"b" %>
  </li>
  <li>
    <%=  link_to "Negative", negative_movie_path(@movie), 
    "data-icon"=>"gear","data-iconpos"=>"top","data-theme"=>"b" %>
  </li>
	</ul> 
</div>

<%= image_tag(@movie.cover_image.thumb("300x225").url)  %>

<ul data-role="listview" data-inset="true"> 
  <% @tweets.each do | tweet | %>
			<li> 
        <%= image_tag tweet.profile_image_url %>
        <h3> <%= link_to auto_link(tweet.text),  tweet.twitter_url, :rel=>"external" %></h3> 
			</li> 
  <% end %>
</ul>
